@page
@model Quizpractice.Pages.Chapters.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].ChapterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Public)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Description)
            </th>
            <th>
                <a>Subject</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chapter)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChapterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @(item.Active.Value ? "Active" : "Deactive")
                </td>
                <td>
                    @(item.Public==true ? "Public" : "Private")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @(Model.Subject.First(s=>s.SubjectId==item.SubId).SubjectName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ChapterId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ChapterId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ChapterId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
