@page
@model Quizpractice.Pages.Chapters.IndexModel

@{
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Chapter List</h1>

<div class="mb-3">
    <a asp-page="Create" class="btn btn-success">
        <i class="bi bi-plus-circle">Create</i>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].ChapterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Public)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Description)
            </th>
            <th>
                <a>Subject</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chapter)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChapterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @(item.Active.Value ? "Active" : "Deactive")
                </td>
                <td>
                    @(item.Public == true ? "Public" : "Private")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @(Model.Subject.First(s => s.SubjectId == item.SubId).SubjectName)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-page="./Edit" asp-route-id="@item.ChapterId"><i class="bi bi-pencil"></i></a> |
                    <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.ChapterId"><i class="bi bi-info-circle"></i></a> |
                    <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.ChapterId"> <i class="bi bi-toggle-on"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
