@page
@model Quizpractice.Pages.Lessions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lession</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lession.LessionUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lession.LessionUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lession.Status)
        </dt>
        <dd class="col-sm-10">
            @(Model.Lession.Status.Value ? "Acive" : "Inactive")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lession.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lession.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lession.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lession.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lession.Backlink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lession.Backlink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lession.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lession.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lession.Public)
        </dt>
        <dd class="col-sm-10">
            @(Model.Lession.Public==true?"Public":"Private")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lession.Chapter)
        </dt>
        <dd class="col-sm-10">
            @(Model.Chapter.First(c=>c.ChapterId==Model.Lession.Chapterid).ChapterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lession.Sub)
        </dt>
        <dd class="col-sm-10">
            @(Model.Subject.First(s=>s.SubjectId==Model.Lession.Subid).SubjectName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lession?.LessionId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
