@page
@model Quizpractice.Pages.Lessions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lession[0].LessionUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lession[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lession[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lession[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lession[0].Backlink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lession[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lession[0].Public)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lession[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lession[0].Sub)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lession)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessionUrl)
                </td>
                <td>
                    @(item.Status.Value ? "Active" : "Inactive")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Backlink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @(item.Public == true ? "Public" : "Private")
                </td>
                <td>
                    @(Model.Chapter.First(c => c.ChapterId == item.Chapterid).ChapterName)
                </td>
                <td>
                    @(Model.Subject.First(s=>s.SubjectId==item.Subid).SubjectName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.LessionId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.LessionId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.LessionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
