@page
@model Quizpractice.Pages.Teacher.Questions.EditModel
@{
    Layout = "~/Pages/Shared/_Layout_Teacher.cshtml";
}
<h1>Edit Question</h1>

<form method="post">
    <input type="hidden" asp-for="QuestionAnswer.Id" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label">Subject</label>
        <select class="form-select" asp-for="QuestionAnswer.SubjectId" id="SubjectDropdown" onchange="loadChapters()">
            <option value="">-- Select a Subject --</option>
            @foreach (var subject in Model.QuestionAnswer.Subjects)
            {
                <option value="@subject.SubjectId" selected="@(subject.SubjectId == Model.QuestionAnswer.SubjectId)">@subject.SubjectName</option>
            }
        </select>
        <span asp-validation-for="QuestionAnswer.SubjectId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Chapter</label>
        <select class="form-select" asp-for="QuestionAnswer.ChapterId" id="ChapterDropdown">
            <option value="">-- Select a Chapter --</option>
            @foreach (var chapter in Model.QuestionAnswer.Chapters)
            {
                <option value="@chapter.ChapterId" selected="@(chapter.ChapterId == Model.QuestionAnswer.ChapterId)">@chapter.ChapterName</option>
            }
        </select>
        <span asp-validation-for="QuestionAnswer.ChapterId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea class="form-control" asp-for="QuestionAnswer.Content">@Model.QuestionAnswer.Content</textarea>
        <span asp-validation-for="QuestionAnswer.Content" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Level</label>
        <select class="form-select" asp-for="QuestionAnswer.Level">
            <option value="Easy" selected = "@(Model.QuestionAnswer.Level == "Easy")">Easy</option>
            <option value="Medium" selected="@(Model.QuestionAnswer.Level == "Medium")">Medium</option>
            <option value="Hard" selected="@(Model.QuestionAnswer.Level == "Hard")">Hard</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Multiple Choice</label>
        <input type="checkbox" asp-for="QuestionAnswer.IsMultipleChoice" asp-checked="@Model.QuestionAnswer.IsMultipleChoice" />
    </div>

    <h3>Answers</h3>
    <div>
        @for (int i = 0; i < Model.QuestionAnswer.Answers.Count; i++)
        {
            <input class="form-control" name="QuestionAnswer.Answers[@i].Id" value="@Model.QuestionAnswer.Answers[i].Id" hidden/>
            <div class="mb-3">
                <label class="form-label">Answer @(i + 1)</label>
                <input class="form-control" name="QuestionAnswer.Answers[@i].Content" value="@Model.QuestionAnswer.Answers[i].Content" />
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="QuestionAnswer.Answers[@i].Correct" value="true" @(Model.QuestionAnswer.Answers[i].Correct ? "checked" : "") />
                    <label class="form-check-label">Correct</label>
                </div>
            </div>
        }
    </div>

    @* @if (!ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    } *@

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>
<script src="~/js/loadchaptersofquestion.js"></script>