@page
@model Quizpractice.Pages.Subjects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.TagLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.TagLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Thumbnail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Thumbnail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Subject?.SubjectId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
