@page
@model Quizpractice.Pages.Subjects.IndexModel

@{
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Subject List</h1>

<div class="mb-3">
    <a asp-page="Create" class="btn btn-success">
        <i class="bi bi-plus-circle">Create</i>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Thumbnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Chapters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subject)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@item.Thumbnail"></img>
                </td>
                <td>
                    <a style="align-items:center">@Model.Chapters.Where(c => c.SubId == item.SubjectId).ToList().Count</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a>@(item.Status == true ? "Active" : "Inactive")</a>
                </td>

                <td>
                    <a class="btn btn-warning btn-sm" asp-page="./Edit" asp-route-id="@item.SubjectId"><i class="bi bi-pencil"></i></a> |
                    <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.SubjectId"><i class="bi bi-info-circle"></i></a> |
                    <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.SubjectId"> <i class="bi bi-toggle-on"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
