@page
@model Quizpractice.Pages.Users.IndexModel

@{
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "Index";
}

<h1>User List</h1>

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].ModifyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a>@(item.Gender == true ? "Male" : "Female")</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    <a>@(item.Status == true ? "Active" : "Inactive")</a>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-page="./Edit" asp-route-id="@item.UserId"><i class="bi bi-pencil"></i></a> |
                    <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.UserId"><i class="bi bi-info-circle"></i></a> |
                    <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.UserId"> <i class="bi bi-toggle-on"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    function filterByRoles(role){

    }
</script>
